<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA Comptible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>To-Do lists</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/base.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div>
				<div class="col-md-6 offset-md-3 jumbotron">
					<div class="text-center">
						<h1>{% block header_text %}{% endblock %}</h1>
						<form method="POST" action='{% block form_action %}{% endblock %}'>
							<input name="item_text" id="id_new_item" class="form-control input-lg" placeholder="Enter a to-do item" />
							{% csrf_token %}
						</form>
					</div>
				</div>
			</div>
			<div>
				<div class="col-md-6 offset-md-3">
					{% block table %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>